/*7171902*/
/*
Animacion es la union de transform y transition
*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans - serif;
}
.wrapper {
  border: 1px solid red;
  width: 100%;
}
.itemCuadrado {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #7cd900;
  margin: 20px;
  border-radius: 50%;
  animation-name: cuadrado;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  /* animation-timing-function: ease-in-out; */
  /*Pasos por segundo se basa la duraction*/
  /* animation-timing-function: steps(60); */
  animation-timing-function: cubic-bezier(0.53, 0.03, 0.36, 0.77);
}
@keyframes cuadrado {
  0% {
    /* opacity: 1; */
    left: 0;
  }
  100% {
    /* opacity: 0; */
    left: calc(100% - 240px);
  }
}
.wrapper:hover .itemCuadrado {
  background-color: blue;
  /* animation-play-state: paused; */
}
