/*7171902*/
/*
Animacion es la union de transform y transition
*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans - serif;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: ". b ." "a a a" ". . . ";
  border: 1px solid red;
  width: 100%;
  transition: ;
}
.itemCuadrado {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #7cd900;
  margin: 20px;
  border-radius: 50%;
  animation-name: cuadrado;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  /* animation-timing-function: ease-in-out; */
  /*Pasos por segundo se basa la duraction*/
  /* animation-timing-function: steps(60); */
  animation-timing-function: cubic-bezier(0.53, 0.03, 0.36, 0.77);
}
@keyframes cuadrado {
  0% {
    /* opacity: 1; */
    left: 0;
  }
  100% {
    /* opacity: 0; */
    left: calc(100% - 240px);
    background-color: black;
    color: #fff;
  }
}
.wrapper:hover .itemCuadrado {
  background-color: blue;
  /* animation-play-state: paused; */
}
.itemCuadrado.a {
  grid-area: a;
}
.itemCuadrado.a:hover {
  transform: skew(340deg);
  transform: rotate(360deg);
  border-radius: 0;
  animation-play-state: paused;
  background-color: aqua;
}
.itemCuadrado.b {
  grid-area: b;
  position: absolute;
  top: 0;
  right: 100px;
  left: 100px;
  bottom: 0;
}
.itemCuadrado.b:hover {
  animation-play-state: paused;
  top: 0;
  top: 500px;
}
